<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="@Url.Action("Dashboard","Home")" class="site_title"><i class="fa fa-adjust"></i> <span class="logo-f">Cash4<span class="logo-s">Fun</span></span></a>
        </div>

        <div class="clearfix"></div>

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>Menu</h3>
                <ul class="nav side-menu">
                    <li>
                        <a href="@Url.Action("Dashboard","Home")"><i class="fa fa-bar-chart" aria-hidden="true"></i> Bảng điều khiển</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListRefs","Home")"><i class="fa fa-user" aria-hidden="true"></i> Danh sách Refs</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Challenge","Home")"><i class="fa fa-bookmark-o" aria-hidden="true"></i> TOP</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Payment","Home")"><i class="fa fa-usd" aria-hidden="true"></i> Thanh toán</a>
                    </li>
                    <li>
                        <a href="@Url.Action("History","Home")"><i class="fa fa-sitemap" aria-hidden="true"></i> Lịch sử thanh toán</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Chat","Home")"><i class="fa fa-sitemap" aria-hidden="true"></i> Trà chanh chém gió</a>
                    </li>
                    @*<li>
                        <a href="@Url.Action("ThapNhi","Game")"><i class="fa fa-sitemap" aria-hidden="true"></i> 12 Con giáp</a>
                    </li>*@
                    
                    @*<li>
                            <a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="index.html">Dashboard 1</a></li>
                                <li><a href="dashboard_2.html">Dashboard 2</a></li>
                            </ul>
                        </li>*@
                    @*<li>
                            <a href="#"><i class="fa fa-money" aria-hidden="true"></i> Kiếm tiền ngay</a>
                        </li>*@
                </ul>
            </div>
        </div>

        <!-- /sidebar menu -->
    </div>
</div>



